  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="../static/code.js"></script>
    <title>noice</title>
    <link rel="shortcut icon" type="image/png" href="/favicoine.png"/>
  </head>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<style>
  * {
      font-family: "Rubik", "sans-serif";
  }
  div {
      text-align: center;
      margin-top: 30px;
  }
  h1 {
      color: purple;
      font-size: 40pt;
  }
  p {
      font-size: 16pt;
  }
</style>

<div>
  <h1>Welcome, Mr. Nithyanandan!</h1><br>
</div>
<p>We have put together a solution for you,
<a href="https://www.spoj.com/problems/NITHY/"> who likes the number 9</a> a little too much.</p>

<div>
<form class="form-horizontal text-center" action = "https://noine.herokuapp.com//result" method ="post">
    <p><input type ="text" name = "int" placeholder="integers" required /></p>
    <button type="submit" class="button btn btn-default">Submit!</button>
    <!-- <p><input type = "submit" value = "submit" /></p> -->
</form>
</div>
